[hidden] {display: none !important}
[disabled] {opacity: 0.3; pointer-events: none}
* {box-sizing: border-box}

body {
  font-family: 'Google Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  margin-bottom: 200px;

  --pink: rgb(219, 55, 149);
  --purple: #5D00A5;
  --green: rgb(83, 187, 193);
  --blue: rgb(35, 78, 160);
  --yellow: #FDB430;
  --orange: #DE5F65;
  --primary: var(--blue);
  --secondary: var(--blue);
  --shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  position: relative;
  top:0;
  box-shadow: var(--shadow);
  margin-right: 8px;
}

a:hover, button.accent:hover {
  box-shadow: none;
  top: 4px;
}

section {
  padding: 24px;
  margin: 0 auto;
  max-width: 900px;
}
.center {
  text-align: center;
}
.accent {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 3px;
  color: white;
}
a.accent {
  padding: 8px 16px;
  margin: 8px 0;
}
.accent.primary {background: var(--primary)}
.accent.secondary {background: var(--secondary)}
.accent.outline.secondary {color: var(--secondary);border: 2px solid var(--secondary);background:white; }

.accent.purple {
  background: var(--purple);
}
.accent.yellow {
  background: var(--yellow);
}
.accent.orange {
  background: var(--orange);
}
.accent.pink {
  background: var(--pink);
}
.accent.blue {
  background: var(--blue);
}
.accent.green {
  background: var(--green);
}
.accent.purple.outline {
  background: white;
  color: var(--purple);
  border:2px solid var(--purple);
}
.accent.yellow.outline {
  background: white;
  color: var(--yellow);
  border: 2px solid var(--yellow);
}
.accent.orange.outline {
  background: white;
  color: var(--orange);
  border: 2px solid var(--orange);
}
.accent.pink.outline {
  background: white;
  color: var(--pink);
  border: 2px solid var(--pink);
}
.accent.blue.outline {
  background: white;
  color: var(--blue);
  border: 2px solid var(--blue);
}
.accent.green.outline {
  background: white;
  color: var(--green);
  border: 2px solid var(--green);
}

h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  padding-top: 24px;
}
p {
  max-width: 800px;
}
.small {
  font-size: 14px;
}
header {
  height: 60px;
  background-color: var(--blue);
  color: white;
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a, header button {
  padding: 0 14px;
}
body.drawer-opened header {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

body.drawer-opened .menu {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

body.drawer-opened .hide-from-toolbar {
  display: block;
}

body.drawer-opened .menu a {
  margin-right: 0;
  padding: 14px;
  border-top: 1px solid rgba(255,255,255,0.3);
  width: 100%;
}

body.drawer-opened .menu svg {
  margin-right: 14px;
}

header .menu-btn {
  background: transparent;
  cursor: pointer;
  min-height: 60px;
}

header a:link, header a:visited {
  color: white;
  box-shadow: none;
  margin-right: 24px;
}

header a:hover {
  color: var(--green);
  top: 0;
}

header .hide-from-toolbar {
  display: none;
}

header svg {
  fill: currentColor;
  vertical-align: middle;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.horizontal.left {
  justify-content: flex-start;
}
rect, path { cursor: pointer; }

.tooltip, .box {
  background-color: white;
  border: 2px solid black;
  box-shadow: var(--shadow);
  padding: 8px;
}

.tooltip {
  position: absolute;
}

.tooltip > svg {
  margin: 0 auto;
}

.tooltip b {
  font-size: 20px;
}

.tooltip .actions,
.tooltip .viz,
.tooltip.expanded .hint {
  display: none;
}
.tooltip.expanded .viz,
.tooltip .hint {
  display: block;
}
.tooltip.expanded .actions {
  display: flex;
}

#visualizer text {
  font-weight: bold;
  font-size: 9px;
  fill: white;
}
#visualizer rect.active {
  stroke: black;
  stroke-width: 2px;
  fill: #04BFA5 !important;
}

.annotation-callout {
  cursor: move;
  user-select: none;
}
.annotation .handle {
  stroke:none;
  fill: white;
}
.annotation text {
 font-weight: bold;
 font-size: 150%;
 fill: black;
 cursor: move;
}
.annotation path {
  fill: white;
  stroke: black;
  stroke-width: 4;
}
.annotation .annotation-subject {
  pointer-events: none !important;
  cursor: pointer;
}
.annotation .annotation-subject .handle {
  pointer-events: none !important;
  cursor: pointer;
}
.annotation .connector-end {
  pointer-events: none;
}

button {
  position: relative;
  appearance: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  box-shadow: none;
  padding: 8px 16px;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  header .menu {
    display: none;
  }
  header .hide-from-toolbar {
    display: block;
  }
}


@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.5em;
    text-align: left;
  }
  section {
    padding: 14px 24px;
  }
  h2 {
    padding-top: 0;
  }
}

.trivia {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}

.zoom {
  stroke-width: 4;
  stroke: black;
}
