[hidden] {display: none !important}
* {box-sizing: border-box}

body {
  font-family: 'Google Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  margin-bottom: 200px;
  
  --pink: rgb(219, 55, 149); //#B52E8C;
  --purple: #5D00A5;
  --green: rgb(83, 187, 193);
  --blue: rgb(35, 78, 160);
  --yellow: #FDB430;
  --orange: #DE5F65;
  
  --shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  position: relative; 
  top:0;
  box-shadow: var(--shadow);
  margin-right: 8px;
}

a:hover, button.accent:hover {
  box-shadow: none;
  top: 4px;
}

section {
  padding: 24px;
  margin-bottom: 64px;
  margin: 0 auto;
  max-width: 900px;
}
.center {
  text-align: center;
}
.accent {
  display: inline-block;
  padding: 4px 8px;
  margin: 4px 0;
  border-radius: 3px;
  color: white;
}
.accent.purple {
  background: var(--purple);
}
.accent.yellow {
  background: var(--yellow);
}
.accent.orange {
  background: var(--orange);
}
.accent.pink {
  background: var(--pink);
}
.accent.blue {
  background: var(--blue);
}
.accent.green {
  background: var(--green);
}
.accent.purple.outline {
  background: white;
  color: var(--purple);
  border:2px solid var(--purple);
}
.accent.yellow.outline {
  background: white;
  color: var(--yellow);
  border: 2px solid var(--yellow);
}
.accent.orange.outline {
  background: white;
  color: var(--orange);
  border: 2px solid var(--orange);
}
.accent.pink.outline {
  background: white;
  color: var(--pink);
  border: 2px solid var(--pink);
}
.accent.blue.outline {
  background: white;
  color: var(--blue);
  border: 2px solid var(--blue);
}
.accent.green.outline {
  background: white;
  color: var(--green);
  border: 2px solid var(--green);
}

h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  padding-top: 24px;
}
p {
  max-width: 800px;
}

header {
  height: 60px;
  background-color: var(--blue);
  box-shadow: var(--shadow);
  padding: 0 24px;
}

header .menu-btn {
  display: none;
}

header a:link, header a:visited {
  color: white;
  box-shadow: none;
  margin-right: 24px;
}

header a:hover {
  color: var(--green);
  top: 0;
}

header svg {
  fill: currentColor;
  vertical-align: middle;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

rect, path { cursor: pointer; }
.leaf {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill-opacity: 0;
}

.tooltip, .box {
  background-color: white;
  border: 2px solid black;
  box-shadow: var(--shadow);
  padding: 8px;
}

.tooltip {
  text-align: center;
  position: absolute;
}

.tooltip > svg {
  margin: 0 auto;
}

.tooltip b {
  font-size: 20px;
}

#visualizer text {
  font-weight: bold;
  font-size: 10px;
  fill: white;
}
#visualizer rect.active {
  stroke: black;
  stroke-width: 2px;
  fill: #04BFA5 !important;
}

.annotation-callout {
  pointer: move;
  user-select: none;
}
.annotation .handle {
  stroke:none;
  fill: white;
}
.annotation text {
 font-weight: bold;
 font-size: 150%;
 fill: black;
 cursor: move;
}
.annotation path {
  fill: white;
  stroke: black;
  stroke-width: 4;
}
.annotation .annotation-subject {
  pointer-events: none !important;
  cursor: pointer;
}
.annotation .annotation-subject .handle {
  pointer-events: none !important;
  cursor: pointer;
}

button {
  position: relative;
  appearance: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  box-shadow: none;
  padding: 8px 16px;
  cursor: pointer; 
}

@media screen and (max-width: 700px) {
  header .menu {
    display: none;
  }
  header .menu-btn {
    display: block;
  }
}